@import "./variable.scss";

.navigation {
  background-color: #cb9639;
  color: #fff;
  font-family: $Header-font;
  display: flex;
  justify-content: space-between;
  height: 5rem;

  a {
    text-decoration: none;
  }

  b {
    font-size: 24px;
    line-height: 45px;
    margin: 1rem;
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
  }

  li {
    display: inline-block;
    margin: 10px;
  }

  li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out,
      box-shadow 0.3s ease-out;
    border-radius: 5px;
    font-size: larger;
  }

  li a:hover {
    background-color: #fff;
    color: #cb9639;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
