@import "./variable.scss";

.reset {
  font-size: 1.1rem;
  font-family: $Header-font;
  position: absolute;
  left: 45%;
  bottom: 5%;
  z-index: 2;
  background-color: #cb9639;
  color: white;
  padding: 1% 2%;
  border-radius: 25px;
  border: 0;
}

.section {
  font-family: $Header-font;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f7f7f7;
  padding: 2rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.description {
  font-size: 1.2rem;
  color: #9b9b9b;
  margin-bottom: 0;
}
