.mainsection {
  width: 100%;
  height: 50%;
  display: flex;
}
.stars {
  display: inline-block;
  font-size: 18px;
  color: #e2cf34;
}

.stars::after {
  color: #ccc;
}

.stars[data-rating="1"]::before {
  content: "★";
}

.stars[data-rating="1"]::after {
  content: "★★★★";
}

.stars[data-rating="2"]::before {
  content: "★★";
}

.stars[data-rating="2"]::after {
  content: "★★★";
}

.stars[data-rating="3"]::before {
  content: "★★★";
}

.stars[data-rating="2"]::after {
  content: "★★";
}

.stars[data-rating="4"]::before {
  content: "★★★★";
}

.stars[data-rating="4"]::after {
  content: "★";
}

.stars[data-rating="5"]::before {
  content: "★★★★★";
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  h3 {
    margin: 0;
    font-size: 24px;
  }

  p {
    margin: 16px 0;
    font-size: 16px;
  }

  button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
}
